// navbar search_form vertical align bug
.select2-container .select2-choice{
    height: 28px;  
}
.select2-container{
    margin-top: 3px;
    margin-right: 3px;
}
.search-form .btn {
    margin-top: 3px;
}