// div.listCon>div.postCon*5>(div.infoCon)+(div.controlCon)+(div.imgCon)+(div.contentCon)
@padding: 3px 5px;

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  
  .brand {
    margin: -18px 0 -10px -10px;
  }
}
.listCon {
  display: block;
  margin-top: 65px; 
  width: 100%; 
  .transition(~"0.5s ease-out");
  .transition-property( width, margin );
}
.postCon {  
  position: relative;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;  
  width: 640px;
  cursor: pointer;
  .box-shadow(~"0px 5px 10px rgba(0,0,0,0.1)");

  .postPointCon {  
    position: absolute;  
    top: -10px; right: 10px;
    z-index: 2;
    background-color: gray;  
    font-family: Georgia,"新細明體",arial,Serif; 
    font-size: 12px;
    color: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);

    .postPoint, .boardName{
      float: left;
      height: 20px;
      line-height: 22px;
      padding: 0px 4px;    

      -webkit-transition: width .5s ease-in;
      -moz-transition: width .5s ease-in;
    }
    .postPoint {
      
    }
    .boardName {
      
    }
    .pointArrow {
      float: left;
      font-size: 0;
      margin-left: -3px;

      img { 
        float: left;
        font-size: 0;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      left: -5px; top: 0px;
      width: 0;
      border-width: 0px 0px 10px 5px;
      border-style: solid;
      border-color: black transparent;              
    }
  }

  .infoCon {
    position: absolute;    
    z-index: 0;
    left: 0; bottom: 0;
    
    .title, .name, .replyCount {   
      float: left;
      clear: left;
      padding: @padding;
    }
    .title {      
      background-color: @fontColor;
      font-weight: bold;
      color: white;
    }
    .name {
      background-color: @grayLight;
      color: white;
      font-size: 12px;
    }
    .replyCount {
      background-color: @grayLight;
      color: white;
      font-size: 12px;
    }
  }
  .controlCon {
    
  }

  .imgCon {   
    float: left;
    max-width: 320px;
    overflow: hidden;
    .transition(~".2s ease-in-out");
    .transition-property( box-shadow, background-color );

    img {
      position: relative;
      z-index: -1;
      height: 200px;
    }
    &:hover {
      box-shadow: 0px 0px 40px white inset;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .contentCon {   
    position: relative;
    z-index: 1;
    overflow: hidden;    
    background-color: @bodyBackgroundColor;

    .content {     
      float: left;
      padding: 15px 10px 0px 10px ;
      height: 185px; 
      line-height: 23px;
      color: @fontColor;      
    }
    .footer {
      display: none;

      .replyCount {      
      }
    }
  }
}

// After jQuery Adjustment
.postCon-noImage {
  
  .contentCon {
    height: 100%;

    .content {
      margin-top: 30px;      
      margin-bottom: 20px;
    }
    .footer {
      .opacity(1);
    }
  }
}
.postCon-horizontal {
  .imgCon, .contentCon {
    float: left;
  }
  .contentCon {
    position: relative;
    height: 100%;
    width: auto;
    min-width: 170px;
    max-width: 250px;
  }
  .content {
      margin-top: 30px;      
      margin-bottom: 20px;
    }
  .footer {
    .opacity(1);
  }
}


// Alert
#alertCon {
  position: fixed; 
  top: 5%; z-index: 999;
  width: 100%;

  .alert {
    display: table;
    margin: 0 auto;  
  }  
}


// Swatches
.swatches1 {
  background-color: @levelOne !important;
}
.swatches2 {
  background-color: @levelTwo !important;
}
.swatches3 {
  background-color: @levelThree !important;
}
.swatches4 {
  background-color: @levelFour !important;
}
.swatches5 {
  background-color: @levelFive !important;
}
