//
@padding: 3px 5px;

.listCon {
  display: block;
  margin-top: 115px;
}
.postCon {
  margin: 0px 0px;
  margin-bottom: 45px;
  position: relative;
  float: left;
  cursor: pointer;
  // don't forget .postCon-noImage

  .postPointCon {  
    position: absolute;  
    top: -10px; right: 10px;
    z-index: 2;
    background-color: gray;  
    font-family: Georgia,"新細明體",arial,Serif; 
    font-size: 12px;
    color: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);

    .postPoint, .boardName, .replyCount, .pointArrow{
      float: left;
      height: 20px;
      line-height: 22px;
      padding: 0px 4px;    

      -webkit-transition: width .5s ease-in;
      -moz-transition: width .5s ease-in;
    }
    .postPoint {
      
    }
    .boardName {
      
    }
    .replyCount {   
        font-size: 12px;
        background-color: @grayLight;
    }
    .pointArrow {
      font-size: 0;
      margin-left: -3px;

      img { 
        float: left;
        font-size: 0;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      left: -5px; top: 0px;
      width: 0;
      border-width: 0px 0px 10px 5px;
      border-style: solid;
      border-color: black transparent;              
    }
  }

  .infoCon { 
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    
    .title, .name, .replyCount {   
      padding-right: 0;
    }
    .title {
      font-weight: bold;
      padding: 0 10px 0 10px;
      line-height: 25px;
    }
    .name {
      float: left;    
      margin: 0 5px 0 10px;      
      padding: 2px 3px;
      font-size: 12px;
      background-color: @messageColor;
      border-radius: 4px;

      &:after {
        content: '：';
        padding: inherit 0;
      }
    }
  }
  .controlCon {
    
  }

  .imgCon {      
    position: relative;
    float: left;
    height: 100%;
    .transition(~".2s ease-in-out");
    .transition-property( box-shadow, background-color );

    img{
      height: 100%;
    } 
    &:hover {
      box-shadow: 0px 0px 40px white inset;
      background-color: rgba(255, 255, 255, 0.2);

      .imgControl {
        .opacity(1);
      }
    }
    .imgControl {
      position: absolute;
      left: 5px; bottom: 5px;
      .opacity(0);
      .transition(~"opacity 0.2s ease-in");
      
      .imgLink {
        display: block;
        width: 45px; height: 45px; line-height: 45px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
        color: white;
        text-decoration: none;

        &:hover {
          background-color: rgba(0,0,0,1);
        }
        .glyphicon {
          
        }
      }
    }
  }
  .contentCon {
    position: relative;    
    float: left;
    width: 230px;
    height: 100%;
    overflow: hidden;
    background-color: @bodyBackgroundColor;
    border-top: 1px solid black;
    .transition(~".2s ease-in-out");
    .transition-property( margin, height, background-color, box-shadow);
    
    &:hover {
      height: 100%;        
      background-color: darken(@bodyBackgroundColor, 2%);
      box-shadow: 0px 20px 40px -10px @messageColor inset;

      .reply {
        background-color: darken(@bodyBackgroundColor, 2%);
        .box-shadow(~"0px -10px 10px 0px #ffffe4");
      }
    }
    .content {
      display: block;
      font-size: 15px;
      margin: 3px 10px; 
      margin-bottom: 20px;
      height: 200px;   
      line-height: 25px !important;
      vertical-align: middle;
      color: @fontColor;
      overflow: hidden;   
      .transition(~".5s ease-in-out 1s");
      .transition-property(margin, height);
    }
    .reply {            
      position: absolute;
      right: 0; bottom: 30px;
      width: 210px;
      height: 55px;
      padding: 4px 10px;
      border-top: 1px solid @grayLighter;
      overflow: hidden;
      font-size: 12px; 
      background-color: @bodyBackgroundColor;     
      .box-shadow(~"0px -10px 10px 0px #ffffee");
      .transition(~".2s ease-in-out");
      .transition-property( margin, height, background-color, box-shadow);

      &:hover {
        background-color: white;
      }
    }
    .footer {
      position: absolute;
      right: 0px; bottom: 5px;
      padding-right: 10px;
      font-size: 12px;      
      color: @grayLight;
    }
    .lineBloker {
      width: 100%;
      height: 15px;
    }
  }
}


// After jQuery Adjustment
.postCon-noImage {
  
  .imgCon {
    display: none;
  }
}


// Alert
#alertCon {
  position: fixed; 
  top: 40px; 
  width: 100%;
  height: 0;
  z-index: 999;

  .alert {
    position: relative;
    padding: 9px 18px;
    display: table;
    margin: 0 auto;  
    background-color: @bodyBackgroundColor;
    border-radius: 5px;
    border: 1px solid @grayLight;
    line-height: 20px;
    .box-shadow(~"0 0 30px rgba(0,0,0,0.3)");

    &.alert-danger {
      background-color: #f2dede;
      border-color: darken( #f2dede , 50%);
    }
    &.alert-success {
      background-color: #dff0d8;
      border-color: darken( #dff0d8 , 50%);      
    }
    &.alert-info {
      background-color: #d9edf7;
      border-color: darken( #d9edf7 , 50%);
    }
  }  
}
.bottom-msg {
  clear: both;
  height: 50px !important;
  line-height: 50px !important;
  text-align: center;
  font-size: 26px;
  width: 100% !important;
  margin: 20px 0 !important;
  text-shadow: 1px 1px 3px v;
}


// Swatches
.swatches1 {
  background-color: @levelOne !important;
}
.swatches2 {
  background-color: @levelTwo !important;
}
.swatches3 {
  background-color: @levelThree !important;
}
.swatches4 {
  background-color: @levelFour !important;
}
.swatches5 {
  background-color: @levelFive !important;
}

