// Tree
// --------------------------
// viewer
// head
// body
// footer
// dynamic Container
// media
// message Highlight
// swatches


// VIEWER
// --------------------------
.box {
}
.article {
  position: relative;
  padding: 30px 40px 200px 40px;
  margin: 0 auto;
  margin-top: 45px;
  max-width: 880px;
  background-color: @bodyBackgroundColor;  

  .infoCon {    
    display: block;
    margin: 3px 5px;
    font-family: Serif,"新細明體",arial,Georgia;

    .title, .name, .posttime, .postnumber {
      display: inline-block;
    }
    .title {
      font-weight: bold;
      color: @titleColor;
    }
    .name {
      font-weight: bold;
      color: @nameColor;
    }
    .posttime {    
    }
    .postnumber {
      color: @blue;
    }
  }
}
.messageCon{ 

}
.message {
  display: table;  
  margin-bottom: 4px;
  background-color: @messageColor;
}
.message-main {
  width: 100%;
  background-color: @bodyBackgroundColor;  
}


// HEAD
// --------------------------
.message-head {

  
}
.controlCon{

}


// BODY
// --------------------------
.message-body, .main-body {
  .attach {
    position: relative;
    float: left;
    clear: left;
    margin: 0 20px 20px 20px;  
    min-width: 30px;  

    .attach-control {    
      .opacity(0);
      .transition(~"0.1s ease-in");
      .transition-property(display, opacity);

      .image-search-btn{
        position: absolute;
        right: 3px; bottom: 3px;
        z-index: 3;
      }
    }
    &.img-expired {
      
      .attach-link {
        cursor: default;
      }
      &:hover {
        &:before {
          .opacity(1);
        }
      }
      &:before {
        content: "原圖消失";
        position: absolute;
        left: 3px; bottom: 5px;
        line-height: 14px;
        color: white;
        font-size: 10px;          
        text-shadow: 1px 1px 1px gray, -1px -1px 1px gray;
        .opacity(0);
        .transition(~"opacity 0.1s ease-in");
      }
    }
    &:hover {
      .attach-control {
        .opacity(1); 
      }
    }
  }
  .content {
    min-width: 350px;
    padding: 15px 20px 15px 20px;
    word-break: break-all;
  }
}
.content-main {
  width: 100%;
}

// dynamic Container 
// --------------------------
#dynamicCon-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
#dynamic-container-top {
  position: relative;  
  margin: 0 auto;
  z-index: 3;
  height: 45px;
  width: 980px;
  line-height: 45px;
  vertical-align: middle;
  background-color: @messageColor;
  .box-shadow(~"0 10px 20px -10px rgba(0,0,0,0.3)");

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    left: 0px; bottom: -10px;
    width: 0;
    border-width: 10px 0px 0px 10px;
    border-style: solid;
    border-color: darken(@messageColor, 10%) transparent;              
   }
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    right: 0px; bottom: -10px;
    width: 0;
    border-width: 10px 10px 0px 00px;
    border-style: solid;
    border-color: darken(@messageColor, 10%) transparent;              
  }
  .favorite-btn {
    position: absolute; 
    right: 10px; top: 3px;
    cursor: pointer;
  }
  .topInfoCon {
    height: 100%;
    width: 100%;

    .newReplyCount {
      position: relative;
      width: auto; height: 100%;
      display: table;
      overflow: hidden;
      margin: 0 auto;
      padding: 0 18px;      
      border: 5px solid darken(@messageColor, 2%);
      border-width: 0 5px;
      border-radius: 0px;
      background-color: darken(@messageColor, 4%);
      color: @fontColor;
      font-size: 13px;

      &:hover {
        border-color: darken(@messageColor, 3%);
        background-color: darken(@messageColor, 6%);
        text-decoration: none;
        cursor: pointer;        
      }
      &:active{
        background-color: darken(@messageColor, 8%);
      }
    }    
  }
  .postPointCon {    
    position: absolute;
    right: 15px;  bottom: -25px;
    background-color: @grayLight;      
    font-family: Georgia,"新細明體",arial,Serif;    
    font-size: 14px;
    color: @white;
    .box-shadow(~"0 4px 10px rgba(0, 0, 0, 0.1)");
    
    .boardName, .postPoint, .pointArrow, .linkPost { 
      padding: 0 5px;          
      height: 24px;
      line-height: 24px;
      float: left;
    }
    .boardName {       
    }    
    .linkPost {
      background-color: @blue; 
      i {
        line-height: 24px;
        vertical-align: -3px;
      }
    }
    .postPoint { 
      padding-right: 5px;
    }
    .pointArrow {
      line-height: 20px;
    }
    a{
      color: @white !important;
    }      
  }
}
#readerLogo {
  position: absolute;  
  z-index: 99;
  left: 60px;
}
#readerHome-btn {
  position: absolute;  
  top: -15px;
  z-index: 99;
  margin-left: 15px;
  padding-top: 15px;
  width: 36px;
  height: 55px;
  text-align: center;
  background-color: @fontColor;
  .box-shadow(~"0 20px 30px -5px #c13535 inset");
  .transition(~"box-shadow 0.8s ease-in");
  .transition(~"0.2s ease-in");
  .transition-property( top, box-shadow);  

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    left: 0px; bottom: -10px;
    width: 0;
    border-width: 10px 18px 0px 0px;
    border-style: solid;
    border-color: @fontColor transparent;    
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    right: 0px; bottom: -10px;
    width: 0;
    border-width: 10px 0px 0px 18px;
    border-style: solid;
    border-color: @fontColor transparent;    
  }

  &:hover {
    top: -5px;
    .box-shadow(~"0 35px 30px -10px #c13535 inset");
  }
  &:active {
    background-color: lighten(@fontColor, 10%);

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      left: 0px; bottom: -10px;
      width: 0;
      border-width: 10px 18px 0px 0px;
      border-style: solid;
      border-color: lighten(@fontColor, 10%) transparent;    
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      right: 0px; bottom: -10px;
      width: 0;
      border-width: 10px 0px 0px 18px;
      border-style: solid;
      border-color: lighten(@fontColor, 10%) transparent;    
    }
  }
}
.article-head {  
} 

#fixed-control {
  
  #fixed-forward-btn, #fixed-next-btn {
    height: 100px; line-height: 100px;
    width: 50px;
    background-color: fadeout(@messageColor, 50%);
    border: 1px solid transparent;    
    text-align: center;
    color: @fontColor;
    text-decoration: none;
    .transition(~"top 0.5s linear");
    .transition-property(background-color, top, bottom, left, right);

    &:hover {
      background-color: fadeout(@messageColor, 0%);      
      font-weight: bold;
    }
  } 
  #fixed-forward-btn {
    position: fixed;
    bottom: 25%; left: 10px;
    border-radius: 10px 0 0 10px;
  }
  #fixed-next-btn {
    position: fixed;
    bottom: 25%; right: 10px;
    border-radius: 0 10px 10px 0;
  }
  #fixed-top-btn {
    position: fixed;
    right: 10px; bottom: 10px;
    z-index: 999;
    height: 50px; line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: @messageColor;
    border: 1px solid @grayLight;
    border-radius: 10px;

    &:hover {
      .box-shadow(~"0 0 20px rgba(0,0,0,0.1) inset");
    }
  }
}
#dynamicCon-bottom {
  position: fixed;
  width: 100%;
  bottom: 0; 
}
#dynamic-container-bottom {
  position: relative;  
  margin: 0 auto;  
  width: 980px;
  height: 0px;
  max-height: 400px;
  background-color: @messageColor;
  .transition(~"height 0.2s ease-out");

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    left: 0px; top: -10px;
    width: 0;
    border-width: 0px 0px 10px 10px;
    border-style: solid;
    border-color: darken(@messageColor, 10%) transparent;              
   }
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    right: 0px; top: -10px;
    width: 0;
    border-width: 0px 10px 10px 0px;
    border-style: solid;
    border-color: darken(@messageColor, 10%) transparent;              
  }
}

// Media
// --------------------------
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .article {
    position: relative;
    padding: 30px 20px 200px 20px;
    margin: 0 auto;
    margin: 0 10px;
    margin-top: 45px;
    max-width: auto;
    background-color: @bodyBackgroundColor;
  }
  #dynamic-container-top, #dynamic-container-bottom {
    width: 100%;
  }
  #fixed-top-btn {
    border-radius: 25px;
    border: 1px solid @grayLight;
  }
  #fixed-next-btn, #fixed-forward-btn {
    display: none;
  }
}

// Message HeightLight
// --------------------------
.highlight {
  background-color: @formColor;
}


// Swatches
// --------------------------
.swatches1 {
  background-color: @levelOne !important;
}
.swatches2 {
  background-color: @levelTwo !important;
}
.swatches3 {
  background-color: @levelThree !important;
}
.swatches4 {
  background-color: @levelFour !important;
}
.swatches5 {
  background-color: @levelFive !important;
}
